

/* navbar */

.image{
	flex-direction:column;
}

/* home section*/
#home{
	height: 370px;
	flex-direction: column;
	padding: 20px 10px;
	
}
#home::before{ 
	height: 480px;

}
#home p {
	font-size: 13px;
	padding: 20px
}
.b12{
	font-size: 13px;
	padding: 4px 8px;
}


 


 /*client section*/
 #clients{
 	flex-wrap: wrap;
 }
 #clients img{
 	width: 66px;
 	padding: 56px;
 }
 .client-items{
    flex-direction:column;
    flex-wrap: wrap;
 }










 .grid > article{
 	flex-direction:column;
 	flex-wrap: wrap;
 }
   







 /*contact us section*/









 /* footer */









/* utility classes */
.h-primary{
	font-size: 30px;


}




